<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Email Management System</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	
</head>
<body>

	<div class="container my-2">
	<h1 class="text-primary">Email Management </h1>
	<div class="row">
	  <div class="col-sm-3 ">
	  
	  <ul class="nav navbar-dark bg-dark">
	  <li class="nav-item"><a  th:href = "@{/registration}" class=" nav-link btn btn-md mb-3 "> Add New user </a></li>
	  <li class="nav-item"><a  th:href = "@{/getUsers}" class=" nav-link btn  btn-md mb-3"> User List</a></li>>
	  <li class="nav-item"><a  th:href = "@{/getEmails}" class=" nav-link btn btn-md mb-3"> Email List </a></li>
	  </ul>
	  </div>
	  <div class="col-sm-9">
	  </div>
	</div>
	
</div>
</body>		
</html>